extends  templates/default
block content
    .bg-primary.pt-20.pb-60
        // Slider Revolution
        .container
            .card
                .card-body
                    .rev_slider_wrapper.fullwidthbanner-container
                        #slider-boxed.rev_slider.fullwidthbanner(data-version='5.0.7')
                            ul
                                // Slide 1
                                li(data-index='rs-129' data-transition='fade' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='' data-rotate='0' data-fstransition='fade' data-fsmasterspeed='1500' data-fsslotamount='7' data-saveperformance='off' data-title='A STUDY ON HAPPINESS' data-description='Nurturing the most awesome minds.')
                                    // MAIN IMAGE
                                    img.rev-slidebg(src='images/dummy.jpg' data-lazyload='images/slide-1.jpg' alt='' data-bgposition='center center' data-bgfit='cover' data-bgrepeat='no-repeat' data-bgparallax='10' data-no-retina='')
                                    // Small Text
                                    #slide-1-small-text.tp-caption.tp-resizeme.rs-parallaxlevel-0.text-primary(data-x="['right','right','right','right']" data-hoffset="['50','50','50','30']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" data-width='none' data-fontsize="['26', '26', '22', '16']" data-height='28' data-whitespace='nowrap' data-transform_idle='o:1;' data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;' data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;' data-mask_in='x:0px;y:0px;s:inherit;e:inherit;' data-mask_out='x:0;y:0;s:inherit;e:inherit;' data-start='1000' data-splitin='none' data-splitout='none' data-responsive_offset='on' style="z-index: 6; white-space: nowrap; text-shadow: 1px 1px 1px #000; font-weight:bold; font-family: 'Noto Serif', serif;")
                                        | We are the best.
                                    // Main Text
                                    #slide-1-main-text.tp-caption.tp-resizeme.rs-parallaxlevel-0(data-x="['right','right','right','right']" data-hoffset="['50','50','50','30']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['46','46','46','32']" data-lineheight="['55','55','55','35']" data-color="['#fff']" data-width="['600','600','600','420']" data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;' data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;' data-mask_in='x:0px;y:0px;s:inherit;e:inherit;' data-mask_out='x:0;y:0;s:inherit;e:inherit;' data-start='1000' data-splitin='none' data-splitout='none' data-responsive_offset='on' style="z-index: 7; min-width: 600px; max-width: 600px; white-space: normal; text-shadow:0px 2px 2px #000; text-transform:capitalize; font-weight:600; text-align:right; font-family: 'PT Sans Narrow', sans-serif;")
                                        | Nurturing the most awesome minds.
                                    // Button
                                    #slide-1-button.tp-caption.rs-parallaxlevel-0.hidden-xs(data-x="['right','right','right','right']" data-hoffset="['53','53','53','30']" data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','100']" data-width='none' data-height='none' data-whitespace='nowrap' data-transform_idle='o:1;' data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;' data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;' data-mask_in='x:0px;y:0px;' data-mask_out='x:0;y:0;' data-start='1000' data-splitin='none' data-splitout='none' data-responsive_offset='on' data-responsive='off' style='z-index: 8;')
                                        a.btn.btn-primary(href='about.html') READ MORE
                                // Slide 2
                                li(data-index='rs-2' data-transition='fade' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='' data-rotate='0' data-fstransition='fade' data-fsmasterspeed='1500' data-fsslotamount='7' data-saveperformance='off' data-title='A STUDY ON HAPPINESS' data-description='Nurturing the most awesome minds.')
                                    // MAIN IMAGE
                                    img.rev-slidebg(src='images/dummy.jpg' data-lazyload='images/slide-2.jpg' alt='' data-bgposition='center center' data-bgfit='cover' data-bgrepeat='no-repeat' data-bgparallax='10' data-no-retina='')
                                    // Small Text
                                    #layer-2-small-text.tp-caption.tp-resizeme.rs-parallaxlevel-0.text-primary(data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" data-width="['600','600','600','420']" data-fontsize="['22', '22', '22', '16']" data-height='28' data-whitespace='nowrap' data-transform_idle='o:1;' data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;' data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;' data-mask_in='x:0px;y:0px;s:inherit;e:inherit;' data-mask_out='x:0;y:0;s:inherit;e:inherit;' data-start='1000' data-splitin='none' data-splitout='none' data-responsive_offset='on' style="z-index: 10; white-space: nowrap; text-shadow: 1px 1px 1px #000; font-weight:bold; font-family: 'Noto Serif', serif;")
                                        | We are super sporty.
                                    // Main Text
                                    #slide-2-main-text.tp-caption.tp-resizeme.rs-parallaxlevel-0(data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['46','46','46','32']" data-lineheight="['55','55','55','35']" data-color="['#fff']" data-width="['600','600','600','420']" data-height='none' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;' data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;' data-mask_in='x:0px;y:0px;s:inherit;e:inherit;' data-mask_out='x:0;y:0;s:inherit;e:inherit;' data-start='1000' data-splitin='none' data-splitout='none' data-responsive_offset='on' style="z-index: 11; min-width: 600px; max-width: 600px; white-space: normal; text-shadow:0px 2px 2px #000; text-transform:capitalize; font-weight:600; text-align:left; font-family: 'PT Sans Narrow', sans-serif;")
                                        | Not just studies, we excel in sports too.
                                    // Button
                                    #slide-2-button.tp-caption.rs-parallaxlevel-0.hidden-xs(data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','100']" data-width="['600','600','600','420']" data-height='none' data-whitespace='nowrap' data-transform_idle='o:1;' data-transform_in='y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;' data-transform_out='auto:auto;s:1000;e:Power3.easeInOut;' data-mask_in='x:0px;y:0px;' data-mask_out='x:0;y:0;' data-start='1000' data-splitin='none' data-splitout='none' data-responsive_offset='on' data-responsive='off' style='z-index: 12;')
                                        a.btn.btn-primary(href='about.html') READ MORE
    // Revolution Slider Ends
    .bg-light.pt-60.pb-40
        .container
            .row
                .col-lg-12
                    blockquote
                        p
                            | There is no end to education. It is not that you read a book, pass an examination, and finish with education. The whole of life, from the moment you are born to the moment you die, is a process of learning.
    section.container.mt-100.mb-100
        .row
            .col-lg-12.text-center
                h2.heading
                    | Popular
                    span.text-primary Courses
                    span.sub-heading
                        | From basic to doctorate level, we offer a wide variety of courses at various locations. Choose to study online or attend classes in physical, we pay attentionn to your convenience.
            .col-lg-4
                .card.course-card.new
                    .course-head
                        img.img-fluid.course-img(src='images/course-grid-1.jpg' alt='')
                        a.course-link(href='course-detail.html')
                            i.fa.fa-link(aria-hidden='true')
                    .course-detail
                        h4.heading Diploma in Marketing
                        span.brief In this course, you learn all advanced techniques and methodologies.
                        ul.course-features
                            li
                                i.fa.fa-map-marker
                                |  California
                            li
                                i.fa.fa-clock-o
                                |  1 year
            .col-lg-4
                .card.course-card
                    .course-head
                        img.img-fluid.course-img(src='images/course-grid-2.jpg' alt='')
                        a.course-link(href='course-detail.html')
                            i.fa.fa-link(aria-hidden='true')
                    .course-detail
                        h4.heading Masters in Marketing
                        span.brief In this course, you learn all advanced techniques and methodologies.
                        ul.course-features
                            li
                                i.fa.fa-map-marker
                                |  America
                            li
                                i.fa.fa-clock-o
                                |  1 year
            .col-lg-4
                .card.course-card.new
                    .course-head
                        img.img-fluid.course-img(src='images/course-grid-3.jpg' alt='')
                        a.course-link(href='course-detail.html')
                            i.fa.fa-link(aria-hidden='true')
                    .course-detail
                        h4.heading Diploma in Engineering
                        span.brief In this course, you learn all advanced techniques and methodologies.
                        ul.course-features
                            li
                                i.fa.fa-map-marker
                                |  Paris
                            li
                                i.fa.fa-clock-o
                                |  1 year
    section.container.mt-100
        .row
            .col-lg-12
                h2.heading.text-center
                    | Meet our
                    span.text-primary Teachers
                    span.sub-heading
                        | EDUComp is a fully responsive premium education theme for schools, colleges, insitutions and universities.
                    span.icon-divider
            .col-lg-3
                .teacher-card
                    .head
                        img.img-fluid(src='images/teacher-1.png' alt='')
                        .info
                            ul.social
                                li
                                    a(href='#')
                                        i.fa.fa-facebook
                                li
                                    a(href='#')
                                        i.fa.fa-twitter
                                li
                                    a(href='#')
                                        i.fa.fa-linkedin
                            a.btn.btn-primary.btn-sm(href='teacher-detail.html') View Profile
                    .body
                        h5.heading Ms. Suzanne
                        small HOD, Maths Department
            .col-lg-3
                .teacher-card
                    .head
                        img.img-fluid(src='images/teacher-2.png' alt='')
                        .info
                            ul.social
                                li
                                    a(href='#')
                                        i.fa.fa-facebook
                                li
                                    a(href='#')
                                        i.fa.fa-twitter
                                li
                                    a(href='#')
                                        i.fa.fa-linkedin
                            a.btn.btn-primary.btn-sm(href='teacher-detail.html') View Profile
                    .body
                        h5.heading Mr. John Geiger
                        small HOD, Maths Department
            .col-lg-3
                .teacher-card
                    .head
                        img.img-fluid(src='images/teacher-3.png' alt='')
                        .info
                            ul.social
                                li
                                    a(href='#')
                                        i.fa.fa-facebook
                                li
                                    a(href='#')
                                        i.fa.fa-twitter
                                li
                                    a(href='#')
                                        i.fa.fa-linkedin
                            a.btn.btn-primary.btn-sm(href='teacher-detail.html') View Profile
                    .body
                        h5.heading Ms. Valene Swann
                        small HOD, Maths Department
            .col-lg-3
                .teacher-card
                    .head
                        img.img-fluid(src='images/teacher-4.png' alt='')
                        .info
                            ul.social
                                li
                                    a(href='#')
                                        i.fa.fa-facebook
                                li
                                    a(href='#')
                                        i.fa.fa-twitter
                                li
                                    a(href='#')
                                        i.fa.fa-linkedin
                            a.btn.btn-primary.btn-sm(href='teacher-detail.html') View Profile
                    .body
                        h5.heading Mr. Carrie Fowler
                        small HOD, Maths Department
    section.gallery.mt-100
        .container-fluid
            .row
                .col-lg-12.gallery-overlay
                    h2.gallery-heading Life At Educomp
                .col-lg-3.nop
                    .img-box
                        img.img-fluid(src='images/gallery-4.jpg' alt='')
                        .desc
                            h5.heading.text-primary Fun
                            p Kids receiving merit awards.
                .col-lg-3.nop
                    .img-box
                        img.img-fluid(src='images/gallery-6.jpg' alt='')
                        .desc
                            h5.heading.text-primary Academic
                            p Kids receiving merit awards.
                    .img-box
                        img.img-fluid(src='images/gallery-1.jpg' alt='')
                        .desc
                            h5.heading.text-primary Development
                            p Kids receiving merit awards.
                .col-lg-3.nop
                    .img-box
                        img.img-fluid(src='images/gallery-2.jpg' alt='')
                        .desc
                            h5.heading.text-primary Outings
                            p Kids receiving merit awards.
                    .img-box
                        img.img-fluid(src='images/gallery-3.jpg' alt='')
                        .desc
                            h5.heading.text-primary Sports
                            p Kids receiving merit awards.
                .col-lg-3.nop
                    .img-box
                        img.img-fluid(src='images/gallery-5.jpg' alt='')
                        .desc
                            h5.heading.text-primary Lifestyle
                            p Kids receiving merit awards.

