doctype html
// Mirrored from wwsthemes.com/themes/educomp/v2.1/index-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 May 2018 18:12:28 GMT
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='')
    // Change Website title here
    title EDUComp - Premium Bootstrap 4 HTML Template
    // Bootstrap Framework Version 4.0.0 Beta
    link(href='css/bootstrap.min.css' type='text/css' rel='stylesheet')
    // Font Awesome Version 4.7.0
    link(href='css/font-awesome.min.css' type='text/css' rel='stylesheet')
    // Slider Revolution Version 5.0.0
    link(href='slider-revolution/css/settings.css' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='slider-revolution/css/layers.css')
    link(rel='stylesheet' type='text/css' href='slider-revolution/css/navigation.css')
    // EDUComp Stylesheets
    link(href='css/vendors.min.css' type='text/css' rel='stylesheet')
    link#style(href='css/style.min.css' type='text/css' rel='stylesheet')
    link#components(href='css/components.min.css' type='text/css' rel='stylesheet')
    link#switch-css(href='css/color-switch.css' type='text/css' rel='stylesheet')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400i' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet')
    // Respond.js and HTML shiv provide HTML5 support in older browsers like IE9 and 8
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    link(href='css/toastr.min.css' type='text/css' rel='stylesheet')
    block styles
.loader-backdrop
    // Loader
    .loader
        .ball-1
        .ball-2
include nav
#app.container
    block content
include ../templates/login_modal
include ../templates/footer
include ../templates/scripts_section


